@import "~bootstrap/scss/bootstrap.scss";

body {
    background: rgb(214,162,39);
    background: linear-gradient(90deg, rgba(138, 8, 92, 0.76) 8%, rgba(255,188,0,1) 35%,rgba(255,188,0,1) 65%, rgba(138, 8, 92, 0.76) 92%);
}
.container{
    width: 450px;
}
.box {
    height: 150px;
    cursor: pointer;
    &.a,&.d{
        border-right: 1px solid rgb(32, 73, 97);
        border-bottom: 1px solid rgb(32, 73, 97);
    }
    &.b,&.e{
        border-bottom: 1px solid rgb(32, 73, 97);
    }
    &.c,&.f{
        border-left: 1px solid rgb(32, 73, 97);
        border-bottom: 1px solid rgb(32, 73, 97);
    }
    &.g{
        border-right: 1px solid rgb(32, 73, 97);
    }
    &.i{
        border-left: 1px solid rgb(32, 73, 97);
    }
}
.X {
    font-size: 100px;
  background: -webkit-radial-gradient(rgb(238, 133, 241), rgba(138, 8, 92, 0.76));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.O {
    font-size: 100px;
  background: -webkit-radial-gradient(rgb(238, 133, 241), rgba(138, 8, 92, 0.76));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  background: -webkit-linear-gradient(rgb(28, 83, 56), rgb(47, 130, 133));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  background: -webkit-radial-gradient(rgb(238, 133, 241), rgba(138, 8, 92, 0.76));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resetButton {
    font-size: 24px;
    color: rgb(21, 53, 53);
    background: rgb(214,162,39);
    background: linear-gradient(90deg, rgba(138, 8, 92, 0.76) 8%, rgba(255,188,0,1) 49%,rgba(255,188,0,1) 51%, rgba(138, 8, 92, 0.76) 92%);
}

#X {
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
        font-size: 100px;
    color: rgb(21, 53, 53);
    background: rgb(214,162,39);
    background: linear-gradient(90deg, rgba(138, 8, 92, 0.76) 8%, rgba(255,188,0,1) 49%,rgba(255,188,0,1) 51%, rgba(138, 8, 92, 0.76) 92%);
}
#O {
    margin-top: 100px;
    padding-left: 38px;
    padding-right: 38px;
        font-size: 100px;
    color: rgb(21, 53, 53);
    background: rgb(214,162,39);
    background: linear-gradient(90deg, rgba(138, 8, 92, 0.76) 8%, rgba(255,188,0,1) 49%,rgba(255,188,0,1) 51%, rgba(138, 8, 92, 0.76) 92%);
}